<?xml version="1.0" encoding="utf-8"?>

<!--
    Copyright (C) 2011-2013 Akretion (http://www.akretion.com/)
    @author Alexis de Lattre <alexis.delattre@akretion.com>
    @author Sylvain LE GAL <https://twitter.com/legalsylvain>
    The licence is in the file __openerp__.py
-->

<openerp>
<data>

<!-- Menu entry for Intrastat Reporting -->
<menuitem id="menu_intrastat_reporting_root" name="Intrastat reporting" parent="account.menu_finance_legal_statement" />

<!-- Menu entry for Intrastat Settings -->
<menuitem id="menu_intrastat_setting_root" name="Intrastat Settings" parent="account.menu_finance" sequence="3"/>

<menuitem id="menu_product_product_intrastat"
    name="Products (Intrastat)"
    parent="menu_intrastat_setting_root" sequence="10"
    action="action_product_product_intrastat"/>

<menuitem id="menu_account_tax_intrastat"
    name="Taxes (Intrastat)"
    parent="menu_intrastat_setting_root" sequence="50"
    action="action_account_tax_intrastat"/>

</data>
</openerp>
